body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: $cp-black;
    line-height: 1.2;
    letter-spacing: .5px;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

button {
    border: 1px solid $white;
    background: transparent;
    color: $white;
    font-weight: 700;
    font-size: 0.88em;
    padding: 20px 30px;
    cursor: pointer;

    &:hover {
        background: $white;
        color: $cp-black;
    }

    &:focus {
        background: $white;
        color: $cp-blue-dark;
        border: $cp-blue-dark;
    }
}

.white-bg {
    background: white;
}

.light-blue-bg {
    background: $cp-blue-light;
}

.dark-blue-bg {
    background: $cp-blue-dark;
}

.yellow-bg {
    background: $cp-yellow;
}

.black-bg {
    background: $cp-black;
}