#financials-panel-1 {
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 10vh;
    background: $cp-yellow url('../img/financials-bg.jpg') no-repeat center;
    background-size: cover;
    background-position-y: 50vh;
    color: $cp-black;
    transition: all 1s linear;
    .panel--content {
        position: absolute;
        bottom: 50px;
        .arrow-white-fwd {
            position: relative;
            bottom: 0;
            margin: 1vh 0 2vh;
        }
        button {
            margin-top: 2vh;
        }
    }
}

#financials-panel-2 {
    background: url('../img/auditors-bg-dark.jpg') no-repeat center;
    background-size: cover;
    padding-top: 0;
    color: white;

    #financials-panel-2--bg {
        background: url('../img/auditors-bg.jpg') no-repeat center;
        background-size: cover;
        padding-top: 10vh;
        height: 55vh;
        color: white;
        &:hover, &:focus {
            background: none;
            color: white;
        }
        .panel--content {
            position: absolute;
            bottom: 50px;
            .arrow-white-fwd {
                position: relative;
                bottom: 0;
                margin: 1vh 0 2vh;
            }
            button {
                margin-top: 2vh;
            }
        }
    }
}

#financials-panel-3 {
    top: 55vh;
    left: 50%;
    height: 45vh;
    padding-top: 0;
    background: url('../img/governance-bg-dark.jpg') no-repeat center;
    background-size: cover;

    #financials-panel-3--bg{
        top: 55vh;
        left: 50%;
        height: 45vh;
        padding-top: 10vh;
        background: url('../img/governance-bg.jpg') no-repeat center;
        background-size: cover;
        &:hover, &:focus {
            background: none;
            background-size: cover;
        }
        .panel--content {
            position: absolute;
            bottom: 50px;
            .arrow-white-fwd {
                position: relative;
                bottom: 0;
                margin: 1vh 0 2vh;
            }
            button {
                margin-top: 2vh;
            }
        }
    }
}

.panel--icon__financial {
    background: url('../img/financial.svg') no-repeat;
    width: 75px;
    height: 80px;
    margin-bottom: 3vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 65px;
        height: 70px;
        margin-bottom: 1vh;
    }
}

.active {
    #financials-panel-1 {
        background-position-y: 0;
    }
}