html { height: 100%; }

body#homepage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
}

#main>section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

#main>section#home {
    background: url('../img/home-hero.jpg');
    background-size: cover;
    padding: 50px;
    height: 100vh;
    .landing-inner {
        height: 100vh;
        .home__content {
            position: absolute;
            bottom: 50px;
            h1 {
                color: $white;
                font-size: 8em;
                line-height: 0.9;
            }
            h2 {
                color: $cp-yellow;
                font-size: 2em;
                margin-bottom: 50px;
            }
        }
    }
}

#main>section#highlights { background-color: $cp-blue-dark; }

#main>section#business { background-color:white; }

/* panels */
.panel__home {
    position: absolute;
    overflow: hidden;
    color: white;
    padding: 20vh 50px 50px;
    cursor: pointer;
    transition: all 250ms linear;
    @media (max-width: 767px) {
    //    width: 100% !important;
    }
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
    span {
        display: block;
        &.large-text {
            font-size: 3em;
            font-weight: 900;
            letter-spacing: -2.5px;
            @media (min-width: 1024px) and (max-width: 1399px) {
                font-size: 4.5em;
                letter-spacing: -5px;
            }
            @media (min-width: 1400px) {
                font-size: 6em;
                letter-spacing: -5px;
            }
        }
        &.mid-size-text {
            font-size: 1.5em;
            @media (min-width: 1024px) and (max-width: 1399px) {
                // font-size: 4.5em;
            }
        }
        &.mid-size-bold {
            font-size: 1.5em;
            font-family: 'Roboto-Black', sans-serif;
            @media (min-width: 1024px) {
                font-size: 2em;
            }
        }
    }
    &.panel__quarter {
        width: 25%;
        &.panel__quarter__top {
            padding-top: 10vh;
            height: 55vh;
        }
        &.panel__quarter__bottom {
            top: 55vh;
            height: 45vh;
        }
        &.panel__quarter__center-right {
            left: 50%;
        }
        &.panel__quarter__right {
            left: 75%;
        }
        &.panel__quarter__center-left {
            left: 50%;
        }
        &.panel__quarter__left {
            left: 0;
        }
        .panel--content {
            position: absolute;
            bottom: 10vh;
        }
    }
    &.panel__third {
        width: 33.36%;
        height: 45vh;
    }
    &.panel__half {
        width: 50%;
        height: 90vh;
        &.panel__half__left {
            top: 0;
            left: 0;
            height: 100vh;
            padding-top: 10vh;
            transition: all 250ms linear;
        }
        .panel--content {
            position: absolute;
            bottom: 10vh;
        }
    }

    &.panel__half-height {
        height: 45vh;
        &.panel__half-height__top {
            height: 55vh;
            top: 0;
            padding-top: 10vh;
        }
        &.panel__half-height__right {
            left: 50%;
        }
        .panel--content {
            bottom: 5vh;
        }
    }
}

.panel--content {
    padding-right: 50px;
    .panel--content--half {
        margin-top: 2vh;
        display: inline-block;
        width: 48%;
        @media (min-width: 768px) and (max-width: 1023px) {
           display: block;
        }
        @media (min-width: 1024px) and (max-width: 1399px) {
            margin-top: 3vh;
        }
        @media (min-width: 1400px) {
            width: 49%;
            margin-top: 3vh;
        }
        .large-text {
            font-size: 2.5em;
            line-height: 1;
            margin-top: 2vh;
            @media (min-width: 1024px) and (max-width: 1399px) {
                font-size: 3em;
            }
            @media (min-width: 1400px) {
                font-size: 4.5em;
            }
        }
    }
}

.arrow {
    width: 35px;
    height: 15px;
    display: block;
    position: absolute;
    bottom: 50px;
}

.arrow-yellow-fwd {
    background: url('../img/yellow-arrow-fwd.svg') no-repeat;
    &:hover, &:focus {
        background: url('../img/white-arrow-fwd.svg') no-repeat;
    }
}

.arrow-white-fwd {
    background: url('../img/white-arrow-fwd.svg') no-repeat;
    &:hover, &:focus {
        background: url('../img/black-arrow-fwd.svg') no-repeat;
    }
}

.arrow-black-fwd {
    background: url('../img/black-arrow-fwd.svg') no-repeat;
    &:hover, &:focus {
        background: url('../img/yellow-arrow-fwd.svg') no-repeat;
    }
}