/* business panels */

#people-panel-1 {
    background: url('../img/training-bg.jpg') no-repeat center;
    background-size: cover;
    &:hover, &:focus, &:active {
        color: white;
        background: url('../img/training-bg-dark.jpg') no-repeat center;
        background-size: cover;
    }
}

#people-panel-2 {
    background: url('../img/resilient-bg.jpg') no-repeat top center;
    background-size: cover;
    &:hover, &:focus, &:active {
        color: white;
        background: url('../img/resilient-bg-dark.jpg') no-repeat top center;
        background-size: cover;
    }
    .panel--content {
        .arrow-white-fwd {
            position: relative;
            bottom: 0;
            margin: 1vh 0 2vh;
        }
    }
}

#people-panel-3 {
    color: $cp-black;
    &:hover, &:focus, &:active {
        background: $cp-blue-light;
        color: white;
    }   
}

#people-panel-4 {
    
    &:hover, &:focus, &:active {
        background: $cp-blue-dark;
        color: white;
    }
}

/* custom icon */

.panel--icon__hardhat {
    background: url('../img/hardhat.svg') no-repeat;
    width: 59px;
    height: 36px;
    margin-bottom: 3vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 64px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}

.panel--icon__values {
    background: url('../img/values-icons.svg') no-repeat;
    width: 273px;
    height: 54px;
    margin-bottom: 3vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 200px;
        height: 44px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}