.panel-tile {
    position: absolute;
    display: table-cell;
    overflow: hidden;
    vertical-align: bottom;
    &:hover {
        .panel-more {
            top: 0;
        }
        .hover-text-container {
            display: block;
        }
        &.p-quarter.p-top-row {
            .panel--content {
                padding-top: 70px;
            }
        }
        &.p-half {
            .panel--content {
                padding-bottom: 70px;
            }
        }
        &.p-no-overlay {
            .panel--content {
                bottom: 12vh;
            }
        }
    }
}

.p-half {
    width: 50%;
    height: 100%;
}

.p-quarter {
    width: 25%;
    height: 50%;
}

.p-half-height {
    height: 50%;
}

.p-half-width {
   width: 50%;
}

.p-third-width {
    width: 33.333%;
}

.p-top-row {
    top: 0;
    height: 55%;
}

.p-bottom-row {
    top: 55%;
    height: 45%;
}

.p-no-overlay {
    .panel--content {
        -moz-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        -o-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        -webkit-transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        transition: top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        background-image: none;
    }
}


.panel-topic-link {
    display: block;
    background-color: rgba(255, 255, 255, 0.01);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
}

.panel-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.panel--content {
    -moz-transition: padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: padding 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#00000000', endColorstr='#99000000');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.6)));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    z-index: 9;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 60px 70px;
    color: #FFF;
    @media screen and (max-height: 650px) {
        padding: 0 30px 15px;
    }
    @media screen and (min-height: 651px) and (max-width: 1199px) {
        padding: 0 30px 70px;
    }

    blockquote {
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1);
        font-size: 36px;
        font-weight: 300;
        line-height: 1.4em;
        max-height: 300px;
        overflow: hidden;
    }
}

.panel-more {
    -moz-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
    -o-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
    -webkit-transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
    transition: all 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
    background: transparent url(../img/black-opac70.png) repeat left top;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 6;
    width: 100.5%;
    height: 100.5%;
}

.hover-text-container {
    display: none;
    margin-top: 20px;
}

#bus1 {
    background-image: url(../img/hubs-bg.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#bus2 {
    left: 50%;
    background-image: url(../img/ceo-bg.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#bus3 {
    left: 75%;
    background-image: url(../img/chair-bg.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#bus4 {
    left: 50%;
    background: $cp-black;
    .panel--content {
        -moz-transition: top 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
        -o-transition: top 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
        -webkit-transition: top 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
        transition: top 0.9s cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    /* trades subnav */
    #trades-subnav-container {
        display: none;
        nav.trades-subnav {
            margin-left: -40px;
            ul {
                list-style: none;
                li {
                    border-bottom: 1px solid white;
                    cursor: pointer;
                    a {
                        font-size: 1.12em;
                        color: $cp-yellow;
                        font-weight: 700;
                        line-height: 1.5;
                        &:hover, &:focus {
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
    &:hover, &:focus {
        #trades-subnav-container {
            display: block;
        }
        span {
            display: none;
        }
    }

    /* business custom icon */
    
    .panel--icon__container {
        background: url('../img/container.svg') no-repeat;
        width: 81px;
        height: 84px;
        margin-left: -9px;
        margin-bottom: 3vh;
        @media (min-width: 1024px) and (max-width: 1399px) {
            width: 61px;
            height: 64px;
            margin-bottom: 1vh;
            margin-left: -6px;
        }
        @media screen and ( max-height: 735px ) {
            display: none;
        }
    }

}

span {
    display: block;
    &.large-text {
        font-size: 3em;
        font-weight: 900;
        letter-spacing: -2.5px;
        @media (min-width: 1024px) and (max-width: 1399px) {
            font-size: 4.5em;
            letter-spacing: -5px;
        }
        @media (min-width: 1400px) {
            font-size: 6em;
            letter-spacing: -5px;
        }
    }
    &.mid-size-text {
        font-size: 1.5em;
        margin-bottom: 20px;
        @media (max-width: 767px) {
            // font-size: 2em;
        }
        @media (min-width: 1024px) and (max-width: 1399px) {
            // font-size: 4.5em;
        }
    }
    &.mid-size-bold {
        font-size: 1.5em;
        font-family: 'Roboto-Black', sans-serif;
        margin-bottom: 10px;
        @media (min-width: 1024px) {
            font-size: 2em;
        }
    }
}
