.mobile {
    body#homepage {
        width: 100%;
        height: auto;
        overflow: visible;
        background: white;
      }

      .scroll-pagination {
          display: none !important;
      }

      #main {
        height: auto;
      }
      
      #main>section {
        overflow: visible;
        position: relative;
        height: auto;
        width: 100%;
        &#home {
            height: 100vh;
            .home__content h1 {
                font-size: 3em;
            }
        }

        .panel__home {
            width: 100%;
            height: auto !important;
            min-height: 230px !important;
            max-height: 350px !important;
            display: block;
            position: static;
            transition: none !important;
            transform: none !important;
            .panel__home__overlay {
                transform: none !important;
                height: auto !important;
                padding-top: 0 !important;
            }
            .panel--content {
                position: static !important;
                height: auto !important;
                padding-left: 5vw;
                padding-right: 5vw;
                margin-top: 3vh;
                transform: none !important;
                .hover-text-container {
                    display: block;
                    margin-top: 2vh;
                    font-size: 1.2em;
                    span.mid-size-text {
                        font-size: 1.2em !important;
                    }
                }
            }
            &#highlights-panel-1 {
                padding-top: 3vh !important;
            }
            &#highlights-panel-3 {
                padding-top: 3vh !important;
                padding-bottom: 3vh !important;
            }
            &#business-panel-1 {
                padding-top: 5vh !important;
            }
            &#business-panel-4 {
                .panel--content {
                    #trades-subnav-container {
                        display: block;
                    }
                }
            }
            &#people-panel-2 {
                padding-top: 3vh;
                padding-bottom: 3vh;
            }
            &#focus-panel-2 {
                padding-top: 3vh;
                padding-bottom: 3vh;
            }
            &#focus-panel-4 {
                border-bottom: 2px solid $cp-black;
                padding: 3vh 0 5vh;
            }
            &#financials-panel-1 {
                padding: 3vh 0 5vh;
            }
            &#financials-panel-2 {
                .panel--content {
                    margin-top: 10vh;
                }
            }
            &#financials-panel-3 {
                .panel--content {
                    margin-top: 15vh;
                }
            }
        }
    }
    .trades-subnav {
        @media (max-width: 767px) {
            position: static;
        }
    }
    .panel__home__inner {
        background: none !important;
        min-height: 230px !important;
        height: auto!important;
        display: block !important;
        padding-top: 50px !important;
    }
    #business-panel-1 {
        background: url(../img/hubs-bg.jpg) center no-repeat;
    }
}