/* business panels */

#people-panel-1 {
    background: url('../img/training-bg.jpg') no-repeat center;
    background-size: cover;
}

#people-panel-2 {
    background: url('../img/resilient-bg.jpg') no-repeat top center;
    background-size: cover;
}

#people-panel-3 {
    color: $cp-black;
    .panel--content {
        transform: translate3d(0,22%,0);
    }
    &:hover, &:focus, &:active {
        background: $cp-blue-light;
        color: white;
        .panel--content {
            margin-top: -12.5vh;
        }
    }   
}

#people-panel-4 {
    .panel--content {
        transform: translate3d(0,25%,0);
    }
    &:hover, &:focus, &:active {
        background: $cp-blue-dark;
        color: white;
        .panel--content {
            margin-top: -7.5vh;
        }
    }
}

/* custom icon */

.panel--icon__hardhat {
    background: url('../img/hardhat.svg') no-repeat;
    width: 59px;
    height: 36px;
    margin-bottom: 2vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 43px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}

.panel--icon__values {
    background: url('../img/values-icons.svg') no-repeat;
    width: 273px;
    height: 54px;
    margin-bottom: 2vh;
    max-width: 100%;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 200px;
        height: 44px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}