#foc1 {
    background: url('../img/op-plan-bg.jpg') no-repeat center;
    background-size: cover;
}

#foc2 {
    left: 50%;
    .panel--content {
        background-image: none;
    }
}

#foc3 {
    background: url('../img/terminal-bg.jpg') no-repeat center;
    background-size: cover;
    left: 75%;
}

#foc4 {
    left: 50%;
    .panel--content {
        background-image: none;
    }
}
    
.panel--icon__leaf {
    margin-left: -9px;
    margin-bottom: 3vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 64px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}

/* business custom icon */
    
.panel--icon__ropes {
    background: url('../img/ropes.svg') no-repeat;
    margin-left: -9px;
    margin-bottom: 3vh;
    width: 63px;
    height: 58px;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 64px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
    &.inverse {
        background: url('../img/ropes-yellow.svg') no-repeat !important;
    }
}