/* business panels */

#focus-panel-1 {
    background: url('../img/op-plan-bg.jpg') no-repeat center;
    background-size: cover;
}

#focus-panel-2 {
    .panel--content {
        transform: translate3d(0,19%,0);
    }
    &:hover, &:focus, &:active {
        color: white;
        background: $cp-blue-dark;
        .panel--content {
            margin-top: -7.5vh;
        }
    }
}

#focus-panel-3 {
    background: url('../img/terminal-bg.jpg') no-repeat center;
    background-size: cover;
    .panel__home__overlay {
        transform: translate3d(0,15%,0);
        &:hover {
            transform: translate3d(0,-4%,0);
        }
    }
}

/* lifelines */
#focus-panel-4 {
    top: 55vh;
    left: 50%;
    height: 45vh;
    color: $cp-black;
    .panel--content {
        margin-top: 18vh;
    }
    &:hover, &:focus, &:active {
        color: white;
        background: $cp-blue-dark;
        .arrow {
            background: url('../img/white-arrow-fwd.svg') no-repeat;
        }
        .panel--content {
            margin-top: 10vh;
        }
    }
}

/* business custom icon */
    
.panel--icon__leaf {
    margin-left: -9px;
    margin-bottom: 3vh;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 64px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
}

/* business custom icon */
    
.panel--icon__ropes {
    background: url('../img/ropes.svg') no-repeat;
    margin-left: -9px;
    margin-bottom: 3vh;
    width: 63px;
    height: 58px;
    @media (min-width: 1024px) and (max-width: 1399px) {
        width: 61px;
        height: 64px;
        margin-bottom: 1vh;
        margin-left: -6px;
    }
    &.inverse {
        background: url('../img/ropes-yellow.svg') no-repeat !important;
    }
}