.mobile {
    body#homepage {
        width: 100%;
        height: auto;
        overflow: visible;
      }

      .scroll-pagination {
          display: none !important;
      }

      #main {
        height: auto;
      }
      
      #main>section {
        overflow: visible;
        position: relative;
        height: auto;
        width: 100%;
        &#home {
            height: 100vh;
            .home__content h1 {
                font-size: 3em;
            }
        }

        .panel__home {
            width: 100%;
            height: auto !important;
            min-height: 230px !important;
            display: block;
            position: static;
            transition: none !important;
            padding-top: 50px;
            .panel--content {
                position: static;
                padding-right: 0;
            }
        }
    }
    .trades-subnav {
        @media (max-width: 767px) {
            position: static;
        }
    }
    .panel__home__inner {
        background: none !important;
        min-height: 230px !important;
        height: auto!important;
        display: block !important;
        padding-top: 50px !important;
        .panel--content {
            position: static !important;
        }
    }
    #business-panel-1 {
        background: url(../img/hubs-bg.jpg) center no-repeat;
    }
}