.slick-slider {
    &.slick-slider__black {
        background: $cp-black;
    }
    &.slick-slider__light-blue {
        background: $cp-blue-light;
        .slick-dots {
            li {
                &.slick-active {
                    button {
                        &:before {
                            color: $cp-yellow;
                        }
                    }
                }
            }
        }
        .slick-prev {
            left: 25px;
            [dir="rtl"] & {
                left: auto;
                right: 25px;
            }
            &:before {
                content: url(../img/chevron-left-yellow.svg);
                [dir="rtl"] & {
                    content: url(../img/chevron-right-yellow.svg);
                }
            }
        }
        
        .slick-next {
            right: 25px;
            [dir="rtl"] & {
                left: 25px;
                right: auto;
            }
            &:before {
                content: url(../img/chevron-right-yellow.svg);
                [dir="rtl"] & {
                    content: url(../img/chevron-left-yellow.svg);
                }
            }
        }
    }
    img {
        width: 100%;
    }

    .slick-dots {
        bottom: 25px;
        li {
            &.slick-active {
                button {
                    &:before {
                        color: $cp-blue-light;
                    }
                }
            }
            button {
        
                &:before {
                    font-size: 50px;
                    opacity: 1;
                    color: white;
                }
            }
        }
    }
}

.mobile {
    .slick-dots {
        bottom: 8px;
    }
}